[submodule "iOS/US2FormValidator"]
	path = iOS/US2FormValidator
	url = https://github.com/ustwo/US2FormValidator.git
[submodule "iOS/CKRefreshControl"]
	path = iOS/CKRefreshControl
	url = https://github.com/instructure/CKRefreshControl.git
[submodule "iOS/iUC"]
	path = iOS/iUC
	url = git@github.com:paolinux86/iUC.git
